.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

div {
  margin-bottom: 10px;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20%;
}

select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  width: 11%;
}

textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}

/*container geral*/
.container {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

/*checkbox*/
/*tab1*/
#gated-community,
#live-in-staff,
#alarm-system,
#security,
/*tab3*/
#VRBO,
#Homeaway,
#Flipkey,
#Bookingcom,
#AirBB,
#Tripadvisor,
#Trivago,
#LuxuryRetreats {
  width: 5%;
}

/*tab4*/
[id^="Theme"],
[id^="Suitability"] {
  width: 15%;
}

/*tab5*/
#GuestsFurnishOwn,
#CateringAvailable,
#NotAvailable,
#BookingPossible,
#IncludedinPrice,
#PreparationIncluded,
#PrepFoodIncluded,
#NotAvailable,
#ChoiceLunchorDinner,
#Water,
#WelcomeCocktailSnacks,
#WelcomeMeal,
#WelcomeHamper,
#Included,
#Optional,
#ChildProofingPool,
#CribCot,
#HighChair,
#PacknPlay,
#StrollerPushchair,
#Toys,
#RollawayBed,
#CarAvailable,
#Chauffeur,
#Concierge,
#LaundryinUnit,
#LaundryOnSite,
#Massage,
#PrivateChef,
#Waitstaff,
#Necessary,
#Recommended,
#NotNecessary {
  width: 3.5%;
}

[id^="LocalServicesBusinesses"],
[id^="SafetyFeatures"],
[id^="AccessibilityFeatures"] {
  width: 15%;
}

/*tab6*/
[id^="KitchenDining"],
[id^="Entertainment"],
[id^="HeatingCooling"] {
  width: 15%;
}

/*tab7*/
[id^="OutdoorFeatures"],
[id^="PoolSpaFacilities"] {
  width: 15%;
}

/*tab8*/
[id^="Bathroom"] {
  width: 100%;
}

/*tab9*/
[id^="Location"],
[id^="PopularAmenities"] {
  width: 15%;
}

/*tab10*/
[id^="Cultural"],
[id^="Leisure"] {
  width: 20%;
}

/*tab11*/
[id^="Active"],
[id^="Golf"],
[id^="HikingBiking"],
[id^="WaterSports"],
[id^="WinterActivities"] {
  width: 15%;
}

/*tab12*/
[id^="Experiences"] {
  width: 12%;
}

/*dropdowns*/
/*tab1*/
#Category {
  width: 13%;
}

#TypeOfProp {
  width: 17%;
}

/*tab2*/
#OwnerProfile {
  width: 48%;
}

/*tab2*/
#RelationshipToProp,
/*tab5*/
#BreakfastServiceIncluded,
#SnackServiceIncluded,
#CleaningFrequency,
#ChangesOfSheetFrquency {
  width: 13%;
}

/*tab4*/
#LocationViews,
#DesignLayout,
#QualityFurnishings,
#Cleanliness,
#Facilities,
#OverallRating {
  width: 5%;
}

/*tab8*/
[id^="Quarto"] {
  width: 27%;
}

[id^="Bed"],
[id^="AdditionalBed"] {
  width: 22%;
}

.error {
  color: red;
  font-size: 12px;
}

.amenities-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.amenity-item {
  display: flex;
  align-items: center;
}

#title {
  text-align: center;
  color: red;
}